<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tedx admin</title>
</head>
<body>
    <h1>Tedx admin page</h1>
    <form name="adminlogin" method="post" action="/admin/view">
        <table>
            <tr>
            <td>username</td>
            <td><input type="text" name="username" value="username"></td>
            </tr>
            <tr>
            <td>password</td>
            <td><input type="password" name="password" value="password"></td>
            </tr>
            <tr>
            <td colspan="2"><input type="submit" value="submit" ></td>
            </tr>
        </table>
    </form>
</body>
</html>